<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gua Vue 2</title>
    <style>
      ol {
        list-style: none;
      }
      .active {
        border: 1px dashed red
      }
    </style>
    <!-- 这是我导入的 js 库 -->
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
  </head>
  <body>
    <script>
      const log = function() {
        console.log.apply(console, arguments)
      }
    </script>
    <!-- 这是方方 从 mvc 到 mvvm 课程中的例子 -->
    <div id="app"></div>
    <script>
      /* 使用 vue 来接管 view 和 controller 但是 Model 它不关心 */
      let view = new Vue({
        el: '#app',
        data: {
          selected: 'gua a',
          tabs: [
            {name: 'gua a', content: 'gua content a'},
            {name: 'gua b', content: 'gua content b'},
            {name: 'gua v', content: 'gua content v'},
          ]
        },
        template: `
          <div>
            <ol>
              <li
                v-for="tab in tabs"
                @click="selected=tab.name"
                :class="{active: tab.name===selected}"
              >{{tab.name}}</li>
            </ol>
            <ol>
              <li
                v-for="tab in tabs"
                v-show="selected === tab.name"
              >{{tab.content}}</li>
            </ol>
          </div>

        `,
        created() {

        },
        methods: {

        }
      })
    </script>
  </body>
</html>
